* {
  padding: 0;
  margin: 0;
}
.Home {
  background: url(/src/assets/back.jpeg) no-repeat;
  height: 700px;
  background-size: cover;

  .name {
    padding-top: 13rem;
    margin-left: 2rem;

    h1 {
      font-size: 3.5rem;
      font-weight: 600;
      font-family: sans-serif;
      text-transform: uppercase;
      .empty {
        color: transparent;
      }
      .span {
        color: transparent;
        -webkit-text-stroke: 2px #fff;
      }
      & :hover {
        color: #fff;
      }

      .span:has(~ .span:hover) {
        color: #fff;
      }
    }
    p {
      line-height: 10px;
      font-size: 1.6rem;
      font-weight: 900;
      color: color-mix(in srgb, #fff, transparent 30%);
    }
    .btn {
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
      margin-top: 1rem;
      text-transform: uppercase;
      border: 1px solid #fff;

      &:hover {
        border: none;
      }
    }
  }
}
